<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h3>{{ titulo }}</h3>
        </div>
        <form method="POST">
            <div class="form-group">
                <label>Nombre Completo</label>
                <input type="text" name="nombre" value="{{ usuario.nombre if usuario else '' }}" placeholder="Ej: Juan Pérez" required>
            </div>
            <div class="form-group">
                <label>Correo Electrónico</label>
                <input type="email" name="email" value="{{ usuario.email if usuario else '' }}" placeholder="correo@ejemplo.com" required>
            </div>
            <div class="actions">
                <button type="submit" class="btn btn-save">Guardar</button>
                <a href="/" class="btn btn-cancel">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>
